section h2 {
  padding: 0 1.5rem;
}

section form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

section form label {
  font-family: sans-serif;
  font-size: 1.3rem;
}

section form textarea {
  outline: none;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid black;
  
  
}

section form div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section form div button {
  background-color: #4056A1;
  font-family: Bungee, sans-serif;
  color: white;
  
  border:none;
  padding: 0.5rem;
}

section form div output {
  margin: 1.5rem;
}

/* Alert Message */
#alert-container {
  margin: 2rem auto;
  height: 70px;
}

#char-limit-alert, #empty-input-alert {
  color:red;
  text-align: center;
  border: 2px solid red;
  margin-top: 1rem;
}

/* Scroll-up Button */
#scrollUp-wrapper {
  margin: 1.5rem;
  background-color: red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  text-decoration: none;

}

#scrollUp-wrapper:hover {
  cursor: pointer;
}

.fa-angles-up {
  
  font-size: 3rem;
  color: white;
  
  
}